<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
		<meta http-equiv="Content-Language" content="en-us" /> 
 
		<title>Jean-Lou Dupont | WEB site</title> 
 
		<meta name="ROBOTS" content="ALL" /> 
		<meta http-equiv="imagetoolbar" content="no" /> 
		<meta name="MSSmartTagsPreventParsing" content="true" /> 
		<meta name="keywords" content="Network, networking, communications, programming, python, php, systems, technologies" /> 
		<meta name="description" content="Jean-Lou Dupont's WEB site" />
		 
 		<link rel="alternate" type="application/atom+xml" title="Jean-Lou Dupont's Site NEWS" href="http://feeds.feedburner.com/jldupont/site" />
		<link href="/res/css/base.css" type="text/css" media="screen" rel="stylesheet" />				
		<link href="/res/css/html4css1.css" type="text/css" media="screen" rel="stylesheet" />
	
	    {% block head %}{% endblock %}
	</head>
	<body>
	    {% block body %}{% endblock %}
	    
	    {% comment %} ONLY INCLUDE IN PRODUCTION {% endcomment %}
	    {% if is_remote %}
		<script type="text/javascript"> 
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script> 
		<script type="text/javascript"> 
			var pageTracker = _gat._getTracker("UA-3233899-1");
			pageTracker._trackPageview();
		</script>
		{% endif %}
	</body>
</html>